<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-256.png" sizes="256x256">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-144.png" sizes="144x144">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-114.png" sizes="114x114">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-96.png" sizes="96x96">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-72.png" sizes="72x72">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-57.png">
<link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-32.png" sizes="32x32">

<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/assets/images/favicons/favicon-144.png">
