<ul class="related-posts group">
  {% for related_post in related_posts %}
    <li class="related post-hover">
      <article class="post">
        <div class="post-thumbnail">
          <a href="{{ related_post.url | pretty_url }}">
            <img src="{{ related_post.featured_image.url }}" alt="{{ related_post.featured_image.alt_text }}" title="{{ related_post.featured_image.title }}">
          </a>
        </div>
        <div class="related-inner">
          <h4 class="post-title">
            <a href="{{ related_post.url | pretty_url }}" rel="bookmark" title="{{ related_post.title }}">{{ related_post.title }}</a>
          </h4>
          <div class="post-meta group">
            <p class="post-date">{{ related_post.date | date: "%d %b, %Y" }}</p>
          </div>
        </div>
      </article>
    </li>
  {% endfor %}
</ul>
