<ul class="social-links fa-white">
  <li><a class="social-tooltip" title="github.com/tdg5" href="https://github.com/tdg5" target="_blank"><i class="fa fa-github"></i></a></li>
  <li><a class="social-tooltip" title="@dannyguinther" href="https://twitter.com/dannyguinther" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a class="social-tooltip" title="linkedin.com/in/dannyguinther" href="https://www.linkedin.com/in/dannyguinther" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
  <li><a class="social-tooltip" title="blog.tdg5.com/feed" href="http://blog.tdg5.com/feed/" target="_blank"><i class="fa fa-rss-square"></i></a></li>
</ul>
