---
layout: 3-column
format: single
---
<section class="content page-content">
  <div class="page-title pad group"><h2>{{ page.categories | flat_categories }}</h2></div>
  <section class="content">
    <div class="pad group">
      <article class="">
        <div class="post-inner group">
          <h1 class="post-title">{{ page.title }}</h1>
          {% include byline.html %}
          <div class="entry">
            <div class="entry-inner">
            {% include featured_image.html %}
            {{ content }}
            </div>
          </div>
        </div>
      </article>
      {% include widget/share.html %}
      {% include widget/entry_tags.html %}
      {% include widget/author_bio.html %}
      <h4 class="heading"><i class="fa fa-hand-o-right"></i>You may also like...</h4>
      {% assign related_posts = site.related_posts | slice: 0, 3 %}
      {% include widget/related_posts.html %}
    </div>
  </section>
</section>
